 <h2>User info</h2>
      <%= attachment_image_tag user, :profile_image, format: 'jpeg',size: "100x100", fallback: "/assets/user-regular.svg" %>
      <table>
        <tr>
          <th>name</th>
          <th><%= user.name %></th>
        </tr>
        <tr>
          <th>introduction</th>
          <th><%= user.introduction %></th>
        </tr>
      </table>

      <%= link_to "",edit_user_path(user),class:"btn btn-outline-secondary btn-block fas fa-user-cog edit_user" %>
