
<body>
  
      <main>
        <div class=container>
          <div class=row>
            <div class=col-12>
              <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong></h1>
              <p>In Bookers,</p>
              <p>you can share and exchange your opinions , inpressions , and emotions<br>about various books!</p>
          
          <% if user_signed_in? %>
            <li>
              <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to "Log in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign Up", new_user_registration_path %>
            </li>
         
          <% end %>
          </div>
        </div>
      </main>
</body>

